@model VetTrainer.Views.ViewModel.RolesViewModel
@{
    ViewBag.Title = "角色扮演";
}
<head>
	<link rel="stylesheet" href="../../dist/css/role.css">
</head>
<div class="container">
	<div class="row">
        @{
            for (int i = 0; i < Model.Roles.Count; i++)
            {
                <div class="col-md-4 role-select-tab">
                    <div class="role-desc desc-hidden">
                        <h4>@Html.ActionLink(Model.Roles[i].Name, "ClinicSelect", "RolePlay", new { roleId = Model.Roles[i].Id }, null)</h4>
                        <p>@Model.Roles[i].Description</p>
                    </div>
                </div>
             }
          }
	</div>
</div>
<script>
	(function () {
		//显示角色描述
	    $('.role-select-tab').hover(
			function () {
			    $(this).children('.role-desc').slideToggle('fast');
			},
			function () {
			    $(this).children('.role-desc').slideToggle('fast');
			}
		);
	    //$('.role-select-tab').on('click', function () {

	    //})
	})();
</script>