
@{
    ViewBag.Title = "ChooseClinic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>科室选择界面</h2>

<script src="../../Src/3Dres/tour.js"></script>
<div class="container" align="center">
    <div class="row">
        <div class="col-md-12">
            <div id="pano" style="width:800px;height:600px;">

            </div>
        </div>
    </div>
</div>
    <script>
        embedpano({ swf: "../../Src/3Dres/tour.swf", xml: "../../Src/3Dres/tour.xml", target: "pano", html5: "only", mobilescale: 1.0, passQueryParameters: true });
    </script>
