@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <h1>啊哦。。。您所请求的页面并不能被找到。。。<small><font face="Tahoma" color="red">Error 404</font></small></h1>
    <a href="/Index" class="btn btn-large btn-info"><i class="icon-home icon-white"></i>返回主页</a>
</body>


