<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../dist/css/Normalize.css">
    <link rel="stylesheet" href="../../dist/css/case_learning.css">
    <title>病例学习</title>
</head>

<body>
    <header>
       <div class="wrapper">
           <h1>VetTrainer</h1>
           <h2>病例学习</h2>
        <a href="">关于我们</a>
       </div>
    </header>
    <div class="main">
        <div class="wrapper">
        
        </div>
    </div>
    <footer>@copyright</footer>
</body>

</html>


