@{
    ViewBag.Title = "欢迎来到兽医学习系统";
}

<div class="jumbotron">
    <h1>这是主页 @ViewBag.Title</h1>
    <p class="lead">前台主界面</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">ASP.NET教程页面 &raquo;</a></p>
</div>