<head>
    <link rel="stylesheet" href="../../dist/css/user_index.css">
    <title>首页</title>
</head>

<ul>
@foreach(var user in ViewBag.Users)
{
    <li>@string.Format($"Name: {user.username}")</li>
}
</ul>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="main-select navi-select">
                    3D导览
                </div>
            </div>
            <div class="col-lg-6 train-select">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-select role-select">
                           
                        </div>
                    </div>
                   </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-select case-select">
                            
                        </div>
                    </div>
                </div>  
            </div>
        </div>



    </div>