<head>
    <link rel="stylesheet" href="../../dist/css/user_index.css">
    <title>首页</title>
</head>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="main-select navi-select">
                <a class="nav-about" href="#">3D导览</a>
            </div>
        </div>
        <div class="col-lg-6 train-select">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-select role-select">
                        <h2>@Html.ActionLink("角色扮演", "Index", "RolePlay", null, null) </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="main-select case-select">
                        <a class="nav-about" href="#">病例学习</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>