<head>
    <link rel="stylesheet" href="../../dist/css/user_index.css">
    <title>首页</title>
</head>

<body>
    <div class="main">
        <div class="wrapper">
          <div class="main-select select-box">
              3D导览
          </div>
          <div class="select-box">
              <div class="main-select train-select">
                  <img src="../../Src/images/role_bg.jpg" alt="" />
              </div>
              <div class="main-select train-select">
                  
              </div>
          </div>
          
        </div>
    </div>
</body>