
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewBag.User;
}

<head>
    <link rel="stylesheet" href="../../dist/css/case_learning.css">
    <title>用户管理</title>
</head>


<div>
    用户名：@user.Name <br>
    新密码&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="password" /><br>
    再次确认&nbsp;<input type="text" id="passwordConfirm" /><br>
    <input id="modifyUser"type="submit" value="更改密码" />
</div>

<script>
    $('#modifyUser').on('click',  modifyUser);
    function modifyUser() {
        if((document.getElementById("password").innerHTML == document.getElementById("passwordConfirm").innerHTML) && 
            document.getElementById("password").innerHTML != ""){
            var juser = {
                "Id": "@user.Id",
                "Name": "@user.Name",
                "Password": document.getElementById("password").value,
                "Authority": "@user.Authority",
                "IsToRememberMe":"@user.IsToRememberMe",
            };
            $.post('/api/UserModify', juser,
                function (data, sucess) {
                    //console.log(data);
                    alert(data);
                    //var t = JSON.parse(data);
                    //console.log(t);
                }
            )
        }else{
            //提示两次输入的密码不一致
            alert("两次输入密码不一致，请检查！")
        }

    }
</script>

