@*@model VetTrainer.Views.ViewModel.SelDiseaseCaseViewModel*@


@model List<VetTrainer.Models.DiseaseType>


<head>
    <link rel="stylesheet" href="../../dist/css/case_learning.css">
    <title>病例学习</title>
</head>

<div class="container tab-select">
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home")">Home</a></li>
    <li class="active">病例学习</li>
</ol>

 <hr>
 <div class="row">
    <div class="col-md-2 disease-tab-list">
        <ul>
            @{
            foreach (VetTrainer.Models.DiseaseType diseaseType in Model) {   
            <li class="disease-tab">@diseaseType.Name</li>
        }
    }
</ul>
</div>

<div class="col-md-10 disease-content">
    @{
    foreach (VetTrainer.Models.DiseaseType diseaseType in Model)
    {
    <ul class="disease-list hidden" data-id="@diseaseType.Id">
        @foreach (var disease in diseaseType.Diseases)
        {
        <li class="col-md-2">@disease.Name</li>
    }
</ul>
}
}
</div>
</div>

<hr>
<div class="row">
    <ul class="case-list">

    </ul>
</div>
</div>

<script src="../../Src/js/case_select.js"></script>
<script>

    var diseaseTabs = $('.disease-tab'),
    diseaseLists = $('.disease-list'),
    diseaseItem = $('.disease-list li');

    //初始化
    diseaseTabs.eq(0).addClass('active');
    diseaseLists.eq(0).removeClass('hidden');
    //tab切换
    $('.disease-tab').hover(function() {
        var index = $(this).index();
        // console.log(index);
        diseaseTabs.removeClass('active');
        $(this).addClass('active');
        diseaseLists.addClass('hidden');
        diseaseLists.eq(index).removeClass('hidden');
    });

    //请求病例数据
    var uri = 'api/case'
    $.getJSON(uri)
    .done(function(resData) {
        // console.log(resData);
        diseaseItem.on('click', function() {
            var diseaseName = $(this).text(),
            index = $(this).index(),
            diseaseTypeId = $(this).parent().data('id') - 1,
            cases = resData[diseaseTypeId].diseases[index].diseaseCases;

            console.log(cases);
            $('.case-list').empty();
            $.each(cases, function(key, item) {
                $('.case-list').append('<a href = "Case/CaseLearning?diseaseCaseName=' + item.name + '"><li class="col-md-2">' + item.name + '</li></a>');
            });
            // $.each(resData)
        });
    })
</script>

