@model VetTrainer.Views.ViewModel.AnalysesViewModel
@{
    ViewBag.Title = "化验项目管理";
}
@{ 
    foreach(var analysis in Model.Analyses)
    {
        //化验项目名字，费用等等
        <h2>@analysis.Name + @analysis.Amount</h2>
    }
}
<div>
    <input type="text" id="searchText" />
    <input type="submit" value="搜索" onclick="deleteUser()" />
</div>
<script>
    function searchResult()
    {
        $.get('/api/AnalysisSearch', { searchText: $('#searchText').val() }, function (data,sucess)
        {
            console.log(data);
        })
    }
    function modifyUser() {
        var user = {
            "Id": '5',
            "Name": '验1xx',
            "Amount":'5'
        };
        $.post('/api/AnalysisModify', user,
            function (data, sucess) {
                console.log(data);
                var t = JSON.parse(data);
                console.log(t);
            }
        )
    }
    function addUser() {
        var user = {
            "Name": '验xx',
            "Amount": '1'
        };
        $.post('/api/AnalysisAdd', user,
            function (data, sucess) {
                console.log(data);
                var t = JSON.parse(data);
                console.log(t);
            }
        )
    }
    function deleteUser() {
        var user = {
            "Id": '5',
        };
        $.post('/api/AnalysisDelete', user,
            function (data, sucess) {
                console.log(data);
                var t = JSON.parse(data);
                console.log(t);
            }
        )
    }
</script>
