
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Animation</title>
    @Styles.Render("~/content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body style="background-color: #00ff90;">
    <div class="container-fluid index-bg">
        <div class="container">
            <h2>演示动画</h2>
            <hr>
            <div class="login-box form-horizontal">
                <div class="row">
                    <div class="col-sm-4">
                        <!--此处为演示动画地址-->
                        <embed src='http://player.youku.com/player.php/sid/XMTI2MDY1MjQ1Mg==/v.swf' allowFullScreen='true' quality='high' width='480' height='400' align='middle' allowScriptAccess='always' type='application/x-shockwave-flash'></embed>
                        @*<video src="~/Src/video/v0001.ogg" type="video/ogg" autoplay="autoplay" controls="controls" weight="200" height="150">
                            your browser does not support the video tag
                        </video>*@
                    </div>
                    <div class="col-sm-4">
                        <p>医院里外科医生使用的手术刀分刀片和刀柄。刀片是一次性的，刀柄不是。其他的器械也不是一次性的，不过在每次使用时都是经过高压灭菌的。所谓灭菌就是杀灭一切微生物。所以只要严格消毒，就不用担心这个问题的。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
