
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Animation</title>
    @Styles.Render("~/content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body style="background-color: #00ff90;">
    <div class="container-fluid index-bg">
        <div class="container">
            <h2>演示动画</h2>
            <hr>
            <div class="login-box form-horizontal">
                <div class="row">
                    <div class="col-sm-4">
                        <!--此处为演示动画地址-->
                        
                        <video src="~/Src/video/v0001.ogg" type="video/ogg" autoplay="autoplay" controls="controls" weight="200" height="150">
                            your browser does not support the video tag
                        </video>
                    </div>
                    <div class="col-sm-4">
                        <p>此处为演示动画文字</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
