
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Operation</title>
    @Styles.Render("~/content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body style="background-color: #00ff90;">
    <div class="container-fluid index-bg">
        <div class="container">
            <h2>操作流程</h2>
            <hr>
            <div class="login-box form-horizontal">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="img-rounded" src="~/Src/images/case_bg.jpg" height="200" width="200">
                    </div>
                    <div  class="col-sm-4">
                        <p>1.执弓式 :最常用的一种执刀方式，动作范围广而灵活，用力涉及整个上肢，主要在腕部。用于较长的皮肤切口和腹直肌前鞘的切开等。
2.执笔式：用力轻柔，操作灵活准确，便于控制刀的动度，其动作和力量主要在手指。用于短小切口及精细手术，如解剖血管、神经及切开腹膜等。
3.握持式：全手握持刀柄，拇指与食指紧捏刀柄刻痕处。此法控刀比较稳定。操作的主要活动力点是肩关节。用于切割范围广、组织坚厚、用力较大的切开，如截肢、肌腱切开、较长的皮肤切口等。
4.反挑式 ：是执笔式的一种转换形式，刀刃向上挑开，以免损伤深部组织。操作时先刺入，动点在手指。用于切开脓肿、血管、气管、胆总管或输尿管等空腔脏器，切断钳夹的组织或扩大皮肤切口等。
5.指压式：用力重，食指压住刀柄前端，后半端藏于手中。此法控刀稍不灵活。主要适用于难于切开的皮肤组织。</p>
                    </div>
                </div>              
            </div>
        </div>
    </div>
</body>
</html>
