
@{
    ViewBag.Title = "密码管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid index-bg">
    <div class="container">
        <hr>
        <div class="login-box form-horizontal">
            <div class="editor-label form-group">
                <span class="col-md-3">用户ID</span>
                <div class="editor-field col-md-9">
                    123145
                </div>
            </div>
            <div class="editor-label form-group">
                <span class="col-md-3">用户名</span>
                <div class="editor-field col-md-9">
                    XXX
                </div>
            </div>
            <div class="editor-label form-group">
                <span class="col-md-3">原密码</span>
                <div class="editor-field col-md-2">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="editor-label form-group">
                <span class="col-md-3">新密码</span>
                <div class="editor-field col-md-2">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="editor-label form-group">
                <span class="col-md-3">确认密码</span>
                <div class="editor-field col-md-2">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 text-center">
                    <input class="btn btn-default btn-primary" type="submit" value="确认" />
                </div>
                <div class="col-md-2 text-center">
                    <input class="btn btn-default" type="submit" value="取消" />
                </div>
            </div>
        </div>
     </div>
</div>