
@{
    ViewBag.Title = "密码管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid index-bg">
    <div class="container">
        <div></div>
        <div></div>


        <h2 class="btn btn-primary">Index</h2>
    </div>
</div>