@model VetTrainer.Views.ViewModel.ChargeViewModel
@{
    ViewBag.Title = "收费管理";
}
@{ 
    foreach(var charge in Model.charges)
    {
        //收费名称，描述等等
        <h2>@charge.Name + @charge.Amount</h2>
    }
}
<div>
    <input type="text" id="searchText" />
    <input type="submit" value="搜索" onclick="searchResult()" />
</div>
<script>
    function searchResult()
    {
        $.get('/api/ChargeSearch', { searchText: $('#searchText').val() }, function (data,sucess)
        {
            console.log(data);
        })
    }
</script>
