@model VetTrainer.Views.ViewModel.RolesViewModel
@{
    ViewBag.Title = "角色管理";
}

<h2>Index</h2>
@{ 
    for(int i=0;i<Model.Roles.Count;i++)
    {
        <h2>@Model.Roles[i].Name</h2>
    }
} 
<div>
    <input type="text" value="" name="searchText" id="searchText" />
    <input type="submit" value="搜索"  onclick="DeleteTest()"/>

</div>

<script>
    function DeleteTest() {
        var diseaseType = {
            "Id": "9"
        };
        $.post('/api/DiseaseTypeDelete', diseaseType,
            function (data, sucess) {
                console.log(data);
                var t = JSON.parse(data);
                console.log(t);
            }
        )
    }
    function searchResult()
    {
        var searchText = $('#searchText').val();
        $.get('/api/DiseaseTypeSearch', { searchText : searchText },
            function (data, sucess) {
                alert(1);
                console.log(data);
            }
            )
    }
    function modifyRole()
    {
        var role = {
            "Id": '1',
            "Name": 'chaojiji',
            "Description": '1234567',
            "RolePicUrl" :'88886666'
        };
        $.post('/api/RoleModify', role,
            function (data, sucess) {
                console.log(data);
                var t = JSON.parse(data);
                console.log(t);
            }
        )
    }
</script>