@import "common.less";

.main {
    
    background: white;
    .wrapper {
        padding-top: 40px;
        text-align: center;
    }
    .select-box {
        display: inline-block;
        height: 600px;
        width: 360px;
        border: 1px solid @blue;
        border-radius: 5px;
    }
    .select-box:first-child {
        margin-right: 60px;
    }
}