@import 'public.less';

body {
    .main {
        h4 {
            margin-left: 20px;
            margin-top: 20px;
        }
        hr {
            margin: 0;
        }
    }
}
.tab-select {
    margin-top: 20px;
    background-color: white;
    padding: 0 30px;
    h2 {
        margin-bottom: 20px;
    }
    .label-select {
        height: 40px;
        font-size: 16px;
        line-height: 40px;
        text-align: center;
    }
}
.disease-tab-list {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        border: 1px solid @gray;
        .box-shadowed;
        li {
            height: 40px;
            border-bottom: 1px solid @gray;
            line-height: 40px;
            color: @black;
            font-size: 14px;
            text-align: center;
            transition: background-color .3s;
        }
        li:last-child {
            border-bottom: 0;
        }
        li.active {
            background-color: @blue;
            color: white;
            border: 0;
        }
        li:hover {
            background-color: @blue;
            color: white;
            cursor: pointer;
            border: 0;
        }
    }
}

.disease-content {
    height: 242px;
    border: 1px solid @gray;
    padding: 0;
    .box-shadowed;
}

.disease-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        height: 40px;
        line-height: 40px;
        margin: 0;
        text-align: center;
        border-radius: 4px;
    }
    li:hover {
        background-color: #f3f3f3;
        cursor: pointer;
    }
}

.swiper-container {
    height: 600px;
}

.case-list {
    list-style: none;
    margin: 0;
    li {
        height: 40px;
        line-height: 40px;
        margin: 0;
        text-align: center;
        border: 1px solid @gray;
        box-shadow: 0 0 6px @gray;
    }
}