@import "common.less";

.tab-select {

}
.diease-tab {
    height: 40px;
    line-height: 40px;
    color: @black;
    font-size: 16px;
    border-bottom: 2px @blue solid;
    text-align: center;
}
.diease-tab.active {
    background-color: @blue;
    color: white;
}
.diease-tab:hover {
    background-color: @blue-lighter;
    color: white;
    cursor: pointer;
}

.diease-list {
    li {
        text-align: center;

    }
    li:hover {
        background-color: #f3f3f3;
        cursor: pointer;
    }
}

.swiper-container {
    height: 600px;
}