@blue: #2C90C4;
@blue-lighter: lighten(@blue, 20%);
@gray: #d8d8d8;
@gray-lighter: #e3e3e3;
@gray-darker: #555;
@black: #333;
@a-hover: #555;

.navbar {
    background: @blue;
    border: 0;
    height: 70px;
    margin-bottom: 0;
    ul {
        margin-top: 20px;
    }
    li {
        a {
            font-size: 16px;
            padding: 8px 10px;
            color: white;
            transition: background-color 300ms;
            border-radius: 4px;
        }
        a:hover {
            color: white;
            background-color: @a-hover;
        }
    }
}

h1 {
    margin: 0;
    height: 70px;
    line-height: 70px;
    a {
        font-size: 26px;
        color: white;
    }
    a:hover {
        color: white;
        text-decoration: none;
    }
    
}
h1:hover {
	color: white;
}

.nav-head {
    color: white;
} 
.nav-about {
    font-size: 20px;
    color: white;
}

footer {
	height: 60px;
	line-height: 60px;
    background: @gray;
    color: gray;
}
