@import "common.less";

.main {
    height: 520px;
    background: white;
    .wrapper {
        padding-top: 40px;
    }
    .login-box {
        height: 200px;
        width: 300px;
        background: white;
        border: 1px solid @gray;
        border-radius: 5px;
        position: absolute;
        right: 100px;
        top: 100px;
        padding: 60px 50px;
        box-shadow: 0 0 8px @gray;
        .input-row {
            margin-bottom: 20px;
            margin-top: 25px;
            text-align: center;
        }
        span {
            display: inline-block;
            font-size: 20px;
            width: 80px;
        }
        input {
            height: 30px;
            width: 200px;
        }
    }
    img {
        margin-left: 30px;
    }
}

footer {
    height: 60px;
    padding-top: 20px;
    background: @gray-lighter;
    text-align: center;
    color: gray;
}