@import "common.less";


.select-box {
    height: 600px;
}

.navi-select {
    height: 640px;
    background: #ffd800;
}
.role-select {
  height: 320px;
  background: #0094ff;
}
.case-select {
    height: 320px;
    background: #ff6a00;
}

.train-select {
    
}


.main-select {
    img {
        width: 100%;
    }
}