@import "common.less";

h1 {
    display: inline-block;
    width: 300px;
    margin-left: 30px;
    color: white;
    line-height: 60px;
    font-size: 26px;
}
.main {
    height: 520px;
    background: white;
    .wrapper {
        padding-top: 40px;
    }
    .select-box {
        display: inline-block;
        
    }
}