@model VetTrainer.Views.ViewModel.DrugsViewModel
@{
    ViewBag.Title = "药品管理";
}
@{ 
    foreach(var drug in Model.drugs)
    {
        //直接获取药品名称，价格等
        <h2>@drug.Name + @drug.Price </h2>
    }
}

