@model VetTrainer.Views.ViewModel.ClinicsViewModel
@{
    ViewBag.Title = "操作器械管理";
}
@{
    //诊室Model.clinics，诊室中的操作器械Model.clinics[0].instruments，操作器械的text，picture，video //Model.clinics[0].instruments[0].Texts
    for (int i = 0; i < Model.clinics.Count; i++)
    {
        <h2>@Model.clinics[i].Id + @Model.clinics[i].Name</h2>
    }
}
<div>
    <input type="text" id="searchText" />
    <input type="submit" value="搜索" onclick="removeInstrument()" />
</div>
<script>
    function searchResult()
    {
        $.get('/api/ClinicSearch', { searchText: $('#searchText').val() }, function (data,sucess)
        {
            console.log(data);
        })
    }
    function removeInstrument()
    {
        var instrument = {
            "Id": "3",
        }
        var instruments = [];
        instruments.push(instrument);
        var clinic = {
            "Id": "1",
            "Instruments": instruments
        }
        $.post('/api/ClinicInstrumentDelete', clinic,
            function (data, sucess) {
                console.log(data);
                var t = JSON.parse(data);
                console.log(t);
            }
        )
    }
    function addClinic() {
        var text = {
            "Name": "555",
            "Content": "666"
        }
        var picture1 = {
            "Name": "666",
            "Url": "ssss",
            "Description": "888"
        }
        var picture2 = {
            "Name": "gg",
            "Url": "ggg",
            "Description": "gggg"
        }
        var video = {
            "Name": "777",
            "Url": "bbb",
            "Description": "999"
        }
        var texts = [];
        texts.push(text);
        var videos = [];
        videos.push(video);
        var pictures = [];
        pictures.push(picture1);
        pictures.push(picture2);
        var instrument = {
            "Id": "3",
            "Name": "xxx",
            "ModelUrl": "666",
            "Texts": texts,
            "Pictures": pictures,
            "Videos": videos
        }
        var instruments = [];
        instruments.push(instrument);
        var c = {
            "id": "1",
            "Instruments": [
                {
                    "Id": "2",
                    "Name": "xxx",
                    "ModelUrl": "666",
                    "Texts": [
                        {
                            "Name": "555",
                            "Content": "666"
                        }
                    ],
                    "Pictures": [
                        {
                            "Name": "666",
                            "Url": "ssss",
                            "Description": "888"
                        }
                    ],
                    "Videos": [
                        {
                            "Name": "777",
                            "Url": "bbb",
                            "Description": "999"
                        }
                    ]
                }
            ]
        }
        var clinic = {
            "Id": "1",
            "Instruments": instruments
        }
        $.post('/api/ClinicInstrumentAdd', clinic,
            function (data, sucess) {
                console.log(data);
                var t = JSON.parse(data);
                console.log(t);
            }
        )
    }
    function deleteUser() {
        var user = {
            "Id": "1",
        };
        $.post('/api/InstrumentDelete', user,
            function (data, sucess) {
                console.log(data);
                var t = JSON.parse(data);
                console.log(t);
            }
        )
    }
</script>


